<!-- Group Details Modal -->

<div class = "modal-header py-2">
    <h5 *ngIf = "modal == 'details';" class = "modal-title">{{ group.name }}</h5>
    <h5 *ngIf = "modal == 'newChannel';" class = "modal-title">Create New Channel</h5>
    <h5 *ngIf = "modal == 'newGroup';" class = "modal-title">Create New Group</h5>
    <h5 *ngIf = "modal == 'admin';" class = "modal-title">Admin Tab</h5>
    <h5 *ngIf = "modal == 'addMember';" class = "modal-title">Add Member to {{ selectName.name }}</h5>
    <button type = "button" class = "btn-close" (click) = "closeModal('close')"></button>
</div>

<div class = "modal-body pt-2 pb-1">
    <div *ngIf = "modal == 'details';">
        <div class = "row">
            <div class = "col">
                <i class = "bi bi-person-badge pe-1"></i>Group Admin: XXX<br>
                <i class = "bi bi-person-badge-fill pe-1"></i>Group Assis: XXX
            </div>
            <div class = "col align-self-end text-end">
                <button *ngIf = "fromParent.user.role == 'Super Admin' || fromParent.user.role == 'Group Admin'" type = "button" class = "btn btn-danger py-1" (click) = "deleteItem('Group')">Delete Group</button>
            </div>
        </div>
        <hr class = "my-2 py-0">
        <div class = "row">
            <p class = "mb-2 col"><i class = "bi bi-chat-dots pe-1"></i>Online Members: XX</p>
            <div *ngIf = "fromParent.user.role != 'User';" class = "col text-end">
                <button type = "button" class = "btn btn-primary py-1" (click) = "addMember()">Add Member</button>
            </div>
        </div>
        <div class = "row row-cols-3 row-cols-lg-5 py-3 mb-0">
            <div *ngFor = "let channel of fromParent.channels" class = "col-lg text-center mb-3">
                <p *ngIf = "select == channel.id; else option2" class = "selectChannel border border-secondary rounded-pill px-3 py-1 mb-0 bg-secondary">{{ channel.name }}</p>
                <ng-template #option2>
                    <p class = "roomname border border-secondary rounded-pill px-3 py-1 mb-0" (click) = "selectChannel(channel.id)">{{ channel.name }}</p>
                </ng-template>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'addMember';" class = "container mt-2">
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label">Name</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Add a User" [(ngModel)] = "addToChannel.member">
                <p *ngIf = "addToChannel.invalidMember" class = "fs-6 fw-light text-danger mb-0 pb-0">* Invalid user.</p>
                <ul class = "ps-3 mt-2">
                    <li *ngFor = "let member of addToChannel.memberList">{{ member }}</li>
                </ul>
            </div>
            <div class = "col-1">
                <button type = "button" class = "btn btn-outline-primary" (click) = "addMemberToChannel()">Add</button>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'newChannel';" class = "container mt-2">
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Channel Name" [(ngModel)] = "newChannel.name">
                <p *ngIf = "newChannel.invalidChannel" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel already exists.</p>
            </div> 
        </div>
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Member</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Add a member" [(ngModel)] = "newChannel.member">
                <p *ngIf = "newChannel.invalidMember" class = "fs-6 fw-light text-danger mb-0 pb-0">* Invalid user.</p>
            </div>
            <div class = "col-1 p-0">
                <button type = "button" class = "btn btn-outline-primary" (click) = "newChannelAddMember()">Add</button>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col offset-2 offset-lg-1 ps-2">
                <ul>
                    <li *ngFor = "let member of newChannel.memberList">{{ member }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'newGroup';">
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Group Name" [(ngModel)] = "newGroup.name">
                <p *ngIf = "newGroup.invalidGroup" class = "fs-6 fw-light text-danger mb-0 pb-0">* Group already exists.</p>
            </div> 
        </div>
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Channel</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Add a channel" [(ngModel)] = "newGroup.channel">
                <p *ngIf = "newGroup.invalidChannel" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel already exists.</p>
            </div>
            <div class = "col-1 p-0">
                <button type = "button" class = "btn btn-outline-primary" (click) = "newGroupAddChannel()">Add</button>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col offset-2 offset-lg-1 ps-2">
                <ul>
                    <li *ngFor = "let channel of newGroup.channelList">{{ channel }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'admin';">
        <div class = "accordion mb-1" id = "adminWork">
            <div class = "accordion-item">
                <h2 class = "accordion-header">
                    <button class = "accordion-button py-2" type = "button" data-bs-toggle = "collapse" data-bs-target = "#createUser">
                        Create User
                    </button>
                </h2>
                <div id = "createUser" class = "accordion-collapse collapse show" data-bs-parent = "#adminWork">
                    <div class = "accordion-body">
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
                            <div class = "col">
                                <input class = "form-control" placeholder = "Username" [(ngModel)] = "newUser.username"> 
                                <p *ngIf = "!newUser.validUser" class = "fs-6 fw-light text-danger mb-0 pb-0">* User already exists.</p>
                            </div>
                        </div>
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Email</label>
                            <div class = "col">
                                <input class = "form-control" placeholder = "Email" [(ngModel)] = "newUser.email"> 
                            </div>
                        </div>
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Role</label>
                            <div class = "col">
                                <select class = "form-select" [(ngModel)] = "newUser.role">
                                    <option value = "User">User</option>
                                    <option value = "Group Assis">Group Assis</option>
                                    <option *ngIf = "fromParent.user.role == 'Super Admin';" value = "Group Admin">Group Admin</option>
                                    <option *ngIf = "fromParent.user.role == 'Super Admin';" value = "Super Admin">Super Admin</option>
                                </select>
                                <p *ngIf = "newUser.empty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Username and email required.</p>    
                            </div> 
                        </div>
                        <div class = "row d-grid gap-2 col-4 mx-auto">
                            <button type = "button" class = "btn btn-primary" (click) = "createUser()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "accordion-item">
                <h2 class = "accordion-header">
                    <button class = "accordion-button py-2" type = "button" data-bs-toggle = "collapse" data-bs-target = "#createGroup">
                        Create Group
                    </button>
                </h2>
                <div id = "createGroup" class = "accordion-collapse collapse" data-bs-parent = "#adminWork">
                    <div class = "accordion-body">
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
                            <div class = "col">
                                <input type = "text" class = "form-control" placeholder = "Group Name" [(ngModel)] = "newGroup.name">
                                <p *ngIf = "newGroup.invalidGroup" class = "fs-6 fw-light text-danger mb-0 pb-0">* Group already exists.</p>
                            </div> 
                        </div>
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Channel</label>
                            <div class = "col-8">
                                <input type = "text" class = "form-control" placeholder = "Add a channel" [(ngModel)] = "newGroup.channel">
                                <p *ngIf = "newGroup.invalidChannel" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel already exists.</p>
                                <ul class = "ps-4 mt-2">
                                    <li *ngFor = "let channel of newGroup.channelList">{{ channel }}</li>
                                </ul>
                            </div>
                            <div class = "col-1 p-0">
                                <button type = "button" class = "btn btn-outline-primary" (click) = "newGroupAddChannel()">Add</button>
                            </div>
                        </div>
                        <div class = "row d-grid gap-2 col-4 mx-auto">
                            <button type = "button" class = "btn btn-primary" (click) = "createItem('newGroup')">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "accordion-item">
                <h2 class = "accordion-header">
                    <button class = "accordion-button py-2" type = "button" data-bs-toggle = "collapse" data-bs-target = "#upgradeUser">
                        Change Role
                    </button>
                </h2>
                <div id = "upgradeUser" class = "accordion-collapse collapse" data-bs-parent = "#adminWork">
                    <div class = "accordion-body">
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
                            <div class = "col">
                                <input type = "text" class = "form-control" placeholder = "Username" [(ngModel)] = "chgRole.username">
                                <p *ngIf = "!chgRole.validUser" class = "fs-6 fw-light text-danger mb-0 pb-0">* Invalid user.</p>
                            </div> 
                        </div>
                        <div class = "row mb-3 align-items-center">
                            <label class = "col-2 col-lg-1 col-form-label me-2">New Role</label>
                            <div class = "col">
                                <select class = "form-select" [(ngModel)] = "chgRole.role">
                                    <option value = "User">User</option>
                                    <option value = "Group Assis">Group Assis</option>
                                    <option *ngIf = "fromParent.user.role == 'Super Admin';" value = "Group Admin">Group Admin</option>
                                    <option *ngIf = "fromParent.user.role == 'Super Admin';" value = "Super Admin">Super Admin</option>
                                </select>    
                            </div> 
                        </div>
                        <div class = "row d-grid gap-2 col-4 mx-auto">
                            <button type = "button" class = "btn btn-primary" (click) = "chgUserRole()">Save Change</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div *ngIf = "modal == 'details';" class = "modal-footer py-2 justify-content-between">
    <!-- If Group Admin/Group Assis-->
    <button *ngIf = "fromParent.user.role != 'User'" type = "button" class = "btn btn-secondary py-1" (click) = "createChannel()">Create Channel</button>
    <div>
        <button *ngIf = "fromParent.user.role == 'Super Admin' || fromParent.user.role == 'Group Admin'" type = "button" class = "btn btn-danger py-1" (click) = "deleteItem('Channel')">Delete Channel</button>
        <button type = "button" class = "btn btn-primary py-1 ms-2" (click) = "joinChannel()">Join Channel</button>
    </div>    
</div>

<div *ngIf = "modal == 'newChannel' || modal == 'newGroup' || modal == 'addMember';" class = "modal-footer py-2 justify-content-between">
    <button type = "button" class = "btn btn-secondary py-1" (click) = "back()">Back</button>
    <button *ngIf = "modal == 'newChannel' || modal == 'newGroup';" type = "button" class = "btn btn-primary py-1" (click) = "createItem()">Create</button>
    <button *ngIf = "modal == 'addMember';" type = "button" class = "btn btn-primary py-1" (click) = "createItem()">Add to Channel</button>
</div>