<!-- Group Details Modal -->

<div class = "modal-header py-2">
    <h5 *ngIf = "modal == 'details';" class = "modal-title">{{ group.name }}</h5>
    <h5 *ngIf = "modal == 'newChannel';" class = "modal-title">Create New Channel</h5>
    <h5 *ngIf = "modal == 'newGroup';" class = "modal-title">Create New Group</h5>
    <h5 *ngIf = "modal == 'admin';" class = "modal-title">Admin Tab</h5>
    <h5 *ngIf = "modal == 'addMember' && select != '';" class = "modal-title">Add Member to {{ selectChn.channelName }}</h5>
    <h5 *ngIf = "modal == 'settings';" class = "modal-title">Account Settings</h5>
    <button type = "button" class = "btn-close" (click) = "closeModal('close')"></button>
</div>

<div class = "modal-body pt-2 pb-1">
    <div *ngIf = "modal == 'details';">
        <div class = "row align-items-center">
            <div class = "col text-secondary">Group created on {{ group.dateTime | date }}</div>
            <div class = "col-4 btn-group justify-content-end">
                <button *ngIf = "user.role == 'super' || user.role == 'admin'" type = "button" class = "btn btn-danger py-1 px-0 rounded me-2" (click) = "deleteItem('Group')">Delete Group</button>
                <button *ngIf = "user.role != 'member'" type = "button" class = "btn btn-primary py-1 px-0 rounded" (click) = "addMember()">Add Member</button>
            </div>
            
        </div>
        <hr class = "mb-0 mt-2">
        <div class = "row row-cols-3 row-cols-lg-5 py-3 mb-0">
            <div *ngFor = "let channel of fromParent.channels" class = "col-lg text-center mb-3">
                <p *ngIf = "select == channel.channelID; else option2" class = "selectChannel border border-secondary rounded-pill px-3 py-1 mb-0 bg-secondary">{{ channel.channelName }}</p>
                <ng-template #option2>
                    <p class = "roomname border border-secondary rounded-pill px-3 py-1 mb-0" (click) = "selectChannel(channel.channelID)">{{ channel.channelName }}</p>
                </ng-template>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'settings';">
        <div class = "row mb-3">
            <h5>Change Profile Picture</h5>
            <div class = "col-3">
                <label class = "form-label mb-0">Current Photo</label>
                <img src = "http://localhost:3000/images/{{ user.pfp }}" class = "img-thumbnail">
            </div>
            <div class = "col d-flex flex-column pe-0">
                <div class = "row w-100">
                    <label class = "form-label">New Profile Picture</label>
                    <input type = "file" class = "form-control" (change) = "onFileSelected($event)">      
                </div>
                <div class = "row w-100 text-end flex-grow-1 align-items-end">
                    <div class = "px-0">
                        <button type = "button" class = "btn btn-primary" (click) = "onUpload()">Save Change</button>
                    </div>
                </div>   
            </div>
        </div>
        <hr>
        <div class = "row mb-3">
            <h5>Change Password</h5>
            <p *ngIf = "settings.blank" class = "fs-6 fw-light text-danger mb-0 pb-0">* Please fill in both fields.</p>
            <p *ngIf = "!settings.match" class = "fs-6 fw-light text-danger mb-0 pb-0">* Passwords do not match.</p>
            <label class = "col-lg-3 col-form-label">New Password</label>
            <div class = "col">
                <input type = "password" class = "form-control" name = "newPwd" [(ngModel)] = "settings.newPwd">
            </div>
        </div>
        <div class = "row mb-3">
            <label class = "col-lg-3 col-form-label">Confirm Password</label>
            <div class = "col">
                <input type = "password" class = "form-control" name = "confirmPwd" [(ngModel)] = "settings.confirmPwd">
            </div>
        </div>
        <div class = "row mb-3 text-end">
            <div>
                <button type = "button" class = "btn btn-primary" (click) = "changePassword()">Save Password</button>    
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'addMember';" class = "container mt-2">
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label">Userame</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Add a User" [(ngModel)] = "addToChannel.member">
                <p *ngIf = "addToChannel.invalidMember" class = "fs-6 fw-light text-danger mb-0 pb-0">* Invalid user.</p>
                <p *ngIf = "addToChannel.memberEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Username required.</p>
                <ul class = "ps-3 mt-2">
                    <li *ngFor = "let member of addToChannel.memberList">{{ member }}</li>
                </ul>
            </div>
            <div class = "col-1">
                <button type = "button" class = "btn btn-outline-primary" (click) = "addMemberToChannel()">Add</button>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'newChannel';" class = "container mt-2">
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Channel Name" [(ngModel)] = "newChannel.name">
                <p *ngIf = "newChannel.invalidChannel" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel already exists.</p>
                <p *ngIf = "newChannel.channelEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel name required.</p>
            </div> 
        </div>
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Member</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Add a member" [(ngModel)] = "newChannel.member">
                <p *ngIf = "newChannel.invalidMember" class = "fs-6 fw-light text-danger mb-0 pb-0">* Invalid user.</p>
                <p *ngIf = "newChannel.memberEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Username required.</p>
            </div>
            <div class = "col-1 p-0">
                <button type = "button" class = "btn btn-outline-primary" (click) = "newChannelAddMember()">Add</button>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col offset-2 offset-lg-1 ps-2">
                <ul>
                    <li *ngFor = "let member of newChannel.memberList">{{ member }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'newGroup';">
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Group Name" [(ngModel)] = "newGroup.name">
                <!-- <p *ngIf = "newGroup.invalidGroup" class = "fs-6 fw-light text-danger mb-0 pb-0">* Group already exists.</p> -->
            </div> 
        </div>
        <div class = "row mb-3">
            <label class = "col-2 col-lg-1 col-form-label me-2">Channel</label>
            <div class = "col-8">
                <input type = "text" class = "form-control" placeholder = "Add a channel" [(ngModel)] = "newGroup.channel">
                <p *ngIf = "newGroup.invalidChannel" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel already exists.</p>
                <p *ngIf = "newGroup.channelEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel name is required.</p>
            </div>
            <div class = "col-1 p-0">
                <button type = "button" class = "btn btn-outline-primary" (click) = "newGroupAddChannel()">Add</button>
            </div>
        </div>
        <div class = "row mb-3">
            <div class = "col offset-2 offset-lg-1 ps-2">
                <ul>
                    <li *ngFor = "let channel of newGroup.channelList">{{ channel }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf = "modal == 'admin';">
        <div class = "accordion mb-1" id = "adminWork">
            <div class = "accordion-item">
                <h2 class = "accordion-header">
                    <button class = "accordion-button py-2" type = "button" data-bs-toggle = "collapse" data-bs-target = "#createUser">
                        Create User
                    </button>
                </h2>
                <div id = "createUser" class = "accordion-collapse collapse show" data-bs-parent = "#adminWork">
                    <div class = "accordion-body">
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
                            <div class = "col">
                                <input class = "form-control" placeholder = "Username" [(ngModel)] = "newUser.username"> 
                                <p *ngIf = "!newUser.validUser" class = "fs-6 fw-light text-danger mb-0 pb-0">* User already exists.</p>
                                <p *ngIf = "newUser.nameEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Username is required.</p>
                            </div>
                        </div>
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Email</label>
                            <div class = "col">
                                <input class = "form-control" placeholder = "Email" [(ngModel)] = "newUser.email"> 
                                <p *ngIf = "newUser.emailEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Email is required.</p>
                            </div>
                        </div>
                        <div class = "row d-grid gap-2 col-4 mx-auto">
                            <button type = "button" class = "btn btn-primary" (click) = "createUser()">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "accordion-item">
                <h2 class = "accordion-header">
                    <button class = "accordion-button py-2" type = "button" data-bs-toggle = "collapse" data-bs-target = "#createGroup">
                        Create Group
                    </button>
                </h2>
                <div id = "createGroup" class = "accordion-collapse collapse" data-bs-parent = "#adminWork">
                    <div class = "accordion-body">
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
                            <div class = "col">
                                <input type = "text" class = "form-control" placeholder = "Group Name" [(ngModel)] = "newGroup.name">
                                <!-- <p *ngIf = "newGroup.invalidGroup" class = "fs-6 fw-light text-danger mb-0 pb-0">* Group already exists.</p> -->
                            </div> 
                        </div>
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Channel</label>
                            <div class = "col-8">
                                <input type = "text" class = "form-control" placeholder = "Add a channel" [(ngModel)] = "newGroup.channel">
                                <p *ngIf = "newGroup.invalidChannel" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel already exists.</p>
                                <ul class = "ps-4 mt-2">
                                    <li *ngFor = "let channel of newGroup.channelList">{{ channel }}</li>
                                    <p *ngIf = "newGroup.channelEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Channel name is required.</p>
                                </ul>
                            </div>
                            <div class = "col-1 p-0">
                                <button type = "button" class = "btn btn-outline-primary" (click) = "newGroupAddChannel()">Add</button>
                            </div>
                        </div>
                        <div class = "row d-grid gap-2 col-4 mx-auto">
                            <button type = "button" class = "btn btn-primary" (click) = "createItem('newGroup')">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf = "user.superOrAdmin == 'super'" class = "accordion-item">
                <h2 class = "accordion-header">
                    <button class = "accordion-button py-2" type = "button" data-bs-toggle = "collapse" data-bs-target = "#upgradeUser">
                        Change Role
                    </button>
                </h2>
                <div id = "upgradeUser" class = "accordion-collapse collapse" data-bs-parent = "#adminWork">
                    <div class = "accordion-body">
                        <div class = "row mb-3">
                            <label class = "col-2 col-lg-1 col-form-label me-2">Name</label>
                            <div class = "col">
                                <input type = "text" class = "form-control" placeholder = "Username" [(ngModel)] = "chgRole.username">
                                <p *ngIf = "!chgRole.validUser" class = "fs-6 fw-light text-danger mb-0 pb-0">* Invalid user.</p>
                                <p *ngIf = "chgRole.userEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Username required.</p>
                            </div> 
                        </div>
                        <div class = "row mb-3 align-items-center">
                            <label class = "col-2 col-lg-1 col-form-label me-2">New Role</label>
                            <div class = "col">
                                <select class = "form-select" [(ngModel)] = "chgRole.role">
                                    <option selected value = "Choose Role">Choose Role</option>
                                    <option selected value = "super">Super Admin</option>
                                    <option value = "admin">Group Admin</option>
                                </select>  
                                <p *ngIf = "chgRole.roleEmpty" class = "fs-6 fw-light text-danger mb-0 pb-0">* Please choose a role.</p>  
                            </div> 
                        </div>
                        <div class = "row d-grid gap-2 col-4 mx-auto">
                            <button type = "button" class = "btn btn-primary" (click) = "chgUserRole()">Save Change</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div *ngIf = "modal == 'details';" class = "modal-footer py-2 justify-content-between">
    <!-- If Group Admin/Group Assis-->
    <button *ngIf = "user.role != 'member'" type = "button" class = "btn btn-secondary py-1" (click) = "createChannel()">Create Channel</button>
    <div>
        <button *ngIf = "user.role == 'super' || user.role == 'admin'" type = "button" class = "btn btn-danger py-1" (click) = "deleteItem('Channel')">Delete Channel</button>
        <button type = "button" class = "btn btn-primary py-1 ms-2" (click) = "joinChannel()">Join Channel</button>
    </div>    
</div>

<div *ngIf = "modal == 'newChannel' || modal == 'newGroup' || modal == 'addMember';" class = "modal-footer py-2 justify-content-between">
    <button type = "button" class = "btn btn-secondary py-1" (click) = "back()">Back</button>
    <button *ngIf = "modal == 'newChannel' || modal == 'newGroup';" type = "button" class = "btn btn-primary py-1" (click) = "createItem()">Create</button>
    <button *ngIf = "modal == 'addMember';" type = "button" class = "btn btn-primary py-1" (click) = "createItem()">Add to Channel</button>
</div>
