<!-- Home/Login Page -->

<div class = "screen">
    <!-- Div element contains welcome message and login form -->
    <div class = "box position-absolute top-50 start-50 translate-middle">
        <!-- Welcome message -->
        <h1 class = "title">Welcome to<br>Chatroom</h1>

        <!-- Login Form -->
        <div>
            <!-- Error messages -->
            <div *ngIf = "!valid">
                <p class = "text-center text-danger">Incorrect username or password.</p>
            </div>

            <div *ngIf = "error">
                <p class = "text-center text-danger">Username and password are required.</p>
            </div>

            <!-- Email input -->
            <div class = "form-outline mb-4">
                <input type = "username" id = "username" class = "form-control" placeholder = "Username" [(ngModel)] = "username">
            </div>
        
            <!-- Password input -->
            <div class = "form-outline mb-4">
                <input type = "password" id = "pwd" class = "form-control" placeholder = "Password" [(ngModel)] = "password">
            </div>
        
            <!-- Submit button -->
            <div class = "d-grid gap-2 mx-auto">
                <button type = "button" class = "btn" (click) = "login()"><strong>LOGIN</strong></button>        
            </div>  
        </div> 

    </div>
</div>


