<!-- Channel Page -->

<div class = "screen">
    <div class = "row m-0 h-100 border">
        <div class = "offcanvas-lg offcanvas-start col-2 p-0" id = "channel-listcol">
            <div class = "container position-relative m-auto vh-100">
                <h3 id = "groupname" class = "mt-2 text-center">{{ channel.groupname }}</h3> 
                <button id = "close-sidebar-btn" type = "button" class = "btn-close position-absolute end-0" data-bs-dismiss = "offcanvas" data-bs-target = "#channel-listcol"></button>
                <hr class = "mt-1">
                <div class = "list-wrapper overflow-auto d-inline-block w-100">
                    <ul class = "list-group text-center">
                        <li *ngFor = "let channel of channels" class = "list-group-item" (click) = "switchChannel(channel.channelID)">{{ channel.channelName }}</li>
                    </ul>    
                </div> 
                
                <div class = "text-center position-absolute bottom-0 mb-3">
                    <button *ngIf = "user.role == 'super' || user.role == 'admin'" type = "button" class = "btn btn-danger btn-sm text-nowrap me-3" (click) = "deleteChannel()">Delete Channel</button>
                    <button type = "button" class = "btn btn-primary btn-sm text-nowrap" (click) = "leave()">Leave</button>
                </div>
            </div> 
        </div> 
        <div class = "col-lg-8">
            <div class = "container position-relative vh-100">
                <button id = "open-channel-sidebar" type = "button" class = "btn btn-outline-primary px-2 py-0 mb-2" data-bs-toggle = "offcanvas" data-bs-target = "#channel-listcol"><i class = "bi bi-list"></i></button>
                <h3 id = "channelname" class = "mt-2">{{ channel.channelName }}</h3>
                <button id = "open-member-sidebar" type = "button" class = "btn btn-outline-secondary px-2 py-0 mb-2 position-absolute end-0" data-bs-toggle = "offcanvas" data-bs-target = "#memberlistcol"><i class = "bi bi-people-fill"></i></button>    
                <hr class = "my-1">
                <div class = "chat-wrapper w-100 py-1" #chatbox [scrollTop] = "chatHistory.length === 0 ? 0 : chatbox.scrollHeight">
                    <div *ngFor = "let chat of chatHistory;" class = "px-0">
                        <div *ngIf = "chat.type == 'notice'" class = "text-center my-1">
                            <p class = "m-0 text-secondary" style = "font-size: 15px;">{{ chat.notice }}</p>
                        </div>
                        <div *ngIf = "chat.type == 'message'" class = "container w-100 my-1">
                            <div class = "row py-1">
                                <div class = "col-2 col-lg-1 text-center px-0">
                                    <img src = "http://localhost:3000/images/{{ chat.pfp }}" class = "chat-pfp rounded-circle">
                                </div>
                                <div class = "col">
                                    <h6 class = "d-inline-block mb-0">{{ chat.username }}</h6>
                                    <p class = "msg-date d-inline-block ps-2 mb-0" style = "font-size: 12px;">{{ chat.dateTime }}</p>
                                    <p class = "mb-1 ">{{ chat.message }}</p>
                                    <div *ngIf = "chat.images != null" class = "row row-cols-4">
                                        <div *ngFor = "let img of chat.images" class = "col">
                                            <img src = "http://localhost:3000/images/{{ img }}" class = "img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class = "row position-absolute bottom-0 w-100 py-3">
                    <div class = "col ps-2 pe-1">
                        <input class = "form-control" name = "message" [(ngModel)] = "chat.message" placeholder = "Write a message...">   
                    </div>
                    <div class = "col-2 btn-group text-center px-1">
                        <button *ngIf = "chat.imageNum > 0;" class = "btn btn-danger me-2 rounded" (click) = clearImage()><i class = "bi bi-file-earmark-x-fill"></i></button>
                        <button class = "btn btn-secondary me-2 rounded position-relative" type = "button" (click) = "fileInput.click()">
                            <i class = "bi bi-images"></i>
                            <span *ngIf = "chat.imageNum > 0;" class = "position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{{ chat.imageNum }}</span>
                            <input #fileInput type = "file" (change) = "onFileSelected($event)" style = "display: none;" multiple>
                        </button>
                        <button class = "btn btn-primary rounded" type = "button" (click) = "sendChat()">Send</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class = "offcanvas-lg offcanvas-end col-2" id = "memberlistcol">
            <button id = "close-member-btn" type = "button" class = "btn-close" data-bs-dismiss = "offcanvas" data-bs-target = "#memberlistcol"></button>
            <h3 id = "memberlist" class = "mt-2 text-center">MEMBERS</h3>
            <hr class = "mt-1">
            <div class = "member-wrapper overflowy-auto d-inline-block w-100">
                <ul class = "member-list ps-0">
                    <li *ngFor = "let member of members" class = "row align-items-center m-auto">
                        <div class = "col">
                            <i class = "bi bi-chat-dots-fill pe-2"></i>{{ member.username }}
                        </div>
                        <div *ngIf = "(user.role == 'assis' && member.role == 'member') ||
                                      (user.role == 'admin' && (member.role == 'member' || member.role == 'assis')) ||
                                      (user.role == 'super' && member.role != 'super')" class = "col-3 delete-btn dropdown">
                            <button type = "button" class = "btn py-0 px-1" data-bs-toggle = "dropdown"><i class = "bi bi-trash-fill"></i></button>
                            <ul class = "dropdown-menu p-0 mt-0">
                                <li *ngIf = "user.role == 'super' || user.role == 'admin';" class = "dropdown-item py-0 text-danger" (click) = "delete('Group', member.userID)">Delete from group</li>
                                <li class = "dropdown-item py-0 text-danger" (click) = "delete('Channel', member.userID)">Delete from channel</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </div> 
</div>

