.screen {
    background: linear-gradient(to top, #5b95e7 0%, #a3e9ee 100%);
    height: 100%;
    width: 100%;
    position: fixed;
}

.bi {
    vertical-align: 0.125em;
}

.chat-pfp {
    height: 50px;
    width: 50px;
}

.msg-date {
    font-size: small;
    color: grey;
}

.alert {
    font-size: 15px;
    color: #555555;
}

.member-list {
    list-style-type: none;
}


#close-sidebar-btn, #open-channel-sidebar, #close-member-btn, #open-member-sidebar {
    display: none;
    visibility: hidden;
}

@media screen and (max-width: 1200px) {
    #close-sidebar-btn {
        display: inline-block;
        visibility: visible;
        margin-left: 54px;
    }

    #close-member-btn {
        display: inline-block;
        visibility: visible;
    }

    #groupname, #memberlistcol {
        display: inline-block;
        margin-bottom: 5px;
    }

    #memberlist {
        display: inline-block;
        margin-bottom: 5px;
        padding-left: 23px;
    }

    #channel-listcol, #memberlistcol {
        width: 35%;
    }

    #channelname {
        display: inline-block;
        padding-left: 10px;
        margin: auto;
    }

    #open-channel-sidebar, #open-member-sidebar {
        display: inline-block;
        visibility: visible;
    }

    #open-member-sidebar {
        display: inline-block;
        visibility: visible;
        margin-top: 9px;
        margin-right: 12px;
    }
}


.pfp {
    width: 30px;
}

.table-borderless td {
    padding-bottom: 15px;
}

.chat-wrapper, .list-wrapper, .member-wrapper {
    height: 80%;
}

::-webkit-scrollbar {
    width: 0px;
}