<!-- Channel Page -->

<div class = "screen">
    <div class = "row m-0 h-100 border">
        <div class = "offcanvas-lg offcanvas-start col-2 p-0" id = "channel-listcol">
            <div class = "container position-relative m-auto vh-100">
                <h3 id = "groupname" class = "mt-2 text-center">{{ group.name }}</h3> 
                <button id = "close-sidebar-btn" type = "button" class = "btn-close position-absolute end-0" data-bs-dismiss = "offcanvas" data-bs-target = "#channel-listcol"></button>
                <hr class = "mt-1">
                <div class = "list-wrapper overflow-auto d-inline-block w-100">
                    <ul class = "list-group text-center">
                        <li *ngFor = "let channel of channels" class = "list-group-item" (click) = "switchChannel(channel.id)">{{ channel.name }}</li>
                    </ul>    
                </div> 
                
                <div class = "text-center position-absolute bottom-0 mb-3">
                    <button *ngIf = "user.role == 'Super Admin' || user.role == 'Group Admin'" type = "button" class = "btn btn-danger btn-sm text-nowrap me-3">Delete Channel</button>
                    <button type = "button" class = "btn btn-primary btn-sm text-nowrap" (click) = "leave()">Leave</button>
                </div>
            </div> 
        </div> 
        <div class = "col-lg-8">
            <div class = "container position-relative vh-100">
                <button id = "open-channel-sidebar" type = "button" class = "btn btn-outline-primary px-2 py-0 mb-2" data-bs-toggle = "offcanvas" data-bs-target = "#channel-listcol"><i class = "bi bi-list"></i></button>
                <h3 id = "channelname" class = "mt-2">{{ channel.name }}</h3>
                <button id = "open-member-sidebar" type = "button" class = "btn btn-outline-secondary px-2 py-0 mb-2 position-absolute end-0" data-bs-toggle = "offcanvas" data-bs-target = "#memberlistcol"><i class = "bi bi-people-fill"></i></button>    
                <hr class = "mt-1">
                <div class = "chat-wrapper overflow-auto d-inline-block w-100">
                <table class = "table-borderless w-100 mb-0">
                    <tbody>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1 ">Hi everyone!<br>hihi<br>hihi</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "alert text-center py-0" colspan = "2">
                                <p class = "m-0">User left/joined the channel.</p>
                            </td> 
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1 text-break">Hi everyonesssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                        <tr>
                            <td class = "pfp px-0 align-top"><img src = "../../assets/img/user.png" class = "chat-pfp rounded-circle"></td>
                            <td class = "ps-2">
                                <h6 class = "d-inline-block mb-0">User</h6>
                                <p class = "msg-date d-inline-block ps-2 mb-0">dd mm yyyy hh:mm</p>
                                <p class = "mb-1">Hi everyone!</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class = "row position-absolute bottom-0 w-100 py-3">
                    <div class = "col ps-2 pe-1">
                        <input class = "form-control" name = "message" placeholder = "Write a message...">   
                    </div>
                    <div class = "col-1 text-center px-1">
                        <button class = "btn btn-primary" type = "button">Send</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class = "offcanvas-lg offcanvas-end col-2" id = "memberlistcol">
            <button id = "close-member-btn" type = "button" class = "btn-close" data-bs-dismiss = "offcanvas" data-bs-target = "#memberlistcol"></button>
            <h3 id = "memberlist" class = "mt-2 text-center">MEMBERS</h3>
            <hr class = "mt-1">
            <div class = "member-wrapper overflowy-auto d-inline-block w-100">
                <ul class = "member-list ps-0">
                    <li class = "row align-items-center m-auto">
                        <div class = "col">
                            <i class = "bi bi-chat-dots-fill pe-2"></i>User ABC
                        </div>
                        <div *ngIf = "user.role != 'User';" class = "col-3 delete-btn">
                            <button type = "button" class = "btn btn py-0 px-1"><i class = "bi bi-trash-fill"></i></button>
                        </div>
                    </li>
                    <li class = "row align-items-center m-auto">
                        <div class = "col">
                            <i class = "bi bi-moon pe-2"></i>User 123
                        </div>
                        <div *ngIf = "user.role != 'User';" class = "col-3 delete-btn dropdown">
                            <button type = "button" class = "btn py-0 px-1" data-bs-toggle = "dropdown"><i class = "bi bi-trash-fill"></i></button>
                            <ul class = "dropdown-menu p-0 mt-0">
                                <li *ngIf = "user.role == 'Super Admin' || user.role == 'Group Admin';" class = "dropdown-item py-0 text-danger">Delete from group</li>
                                <li class = "dropdown-item py-0 text-danger disabled">Delete from channel</li>
                                <li><hr class = "dropdown-divider my-0"></li>
                                <li class = "dropdown-item py-0 text-danger">Delete from XXX</li>
                                <li class = "dropdown-item py-0 text-danger">Delete from XXX</li>
                                <li class = "dropdown-item py-0 text-danger">Delete from XXX</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>    
    </div> 
</div>

