<!-- Account Page -->

<div class = "screen">
    <div class = "container min-vh-100">
        <div class = "row" id = "user">
            <div class = "col-10 text-capitalize" id = "username"><h1>{{ user.username }}</h1></div>
            <div class = "col-2" id = "logout">
                <button type = "button" class = "logout btn" (click) = "logout()"><strong>LOGOUT</strong></button>        
            </div>
        </div>
        <hr class = "mt-1">
        <div class = "row py-1 mx-auto" id = "user-data">
            <div class = "col-3 position-relative" id = "user-pfp">
                <img src = "../../assets/img/user.png" class = "img-thumbnail position-absolute top-50 start-50 translate-middle">
            </div>
            <div class = "col position-relative" id = "user-details">
                <table class = "table-responsive-lg ms-4 position-absolute top-50 start-0 translate-middle-y">
                    <tr><th>ID</th><td colspan = "2">{{ user._id }}</td></tr>
                    <tr><th>Email</th><td colspan = "2">{{ user.email }}</td></tr>
                    <tr *ngIf = "user.superOrAdmin != 'none'">
                        <th>Role</th>
                        <td class = "text-capitalize">{{ user.superOrAdmin }}</td>
                        <td class = "text-end"><button type = "button" class = "btn btn-sm py-0 px-1" (click) = "openModal('admin')"><i class = "bi bi-gear-fill"></i></button></td>
                    </tr>
                    <tr><th>Last active</th><td colspan = "2">{{ user.lastActive }}</td></tr>
                </table>
            </div>   
        </div>

        <hr>

        <div class = "row mx-auto" id = "groups">
            <div class = "row m-0 px-0 pb-1">
                <div class = "col p-0"><h2>Group ({{ groups.length }})</h2></div>
                <div *ngIf = "user.superOrAdmin != 'none'" class = "col text-end p-0">
                    <button type = "button" class = "btn btn-primary py-1" (click) = "openModal('newGroup')">Create Group</button>
                </div>
            </div>
            <div class = "container bg-transparent text-center p-0 m-auto w-100">
                <div class = "row row-cols-3 row-cols-lg-6 p-0 m-0">
                    <div *ngFor = "let group of groups" class = "dropdown col-lg pb-5" id = "group" (click) = "openModal('details', group.id)">
                        <h5>{{ group.value[0].groupname }}</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                        <div class = "dropdown-content">
                            <div *ngFor = "let channel of channels">
                                <a *ngIf = "channel.groupID == group.id" class = "dropdown-item" (click) = "joinChannel(group.id, channel.channelID)">{{ channel.channelName }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

