<!-- Account Page -->

<div class = "screen">
    <div class = "container">
        <div class = "row" id = "user">
            <div class = "col-10" id = "username"><h1>USERNAME</h1></div>
            <div class = "col-2" id = "logout">
            <button type = "button" class = "btn" routerLink = "/"><strong>LOGOUT</strong></button>        
            </div>
        </div>
        <div class = "row py-1" id = "user-data">
            <div class = "col-sm-3 position-relative" id = "user-pfp">
                <img src = "../../assets/img/user.png" class = "img-thumbnail position-absolute top-50 start-50 translate-middle">
            </div>
            <div class = "col-sm position-relative" id = "user-details">
                <table class = "ms-3 position-absolute top-50 start-0 translate-middle-y">
                    <tr><th>ID</th><td>012345679</td></tr>
                    <tr><th>Email</th><td>abcabc@example.com</td></tr>
                    <tr><th>Last active</th><td>02 Aug 2022</td></tr>
                </table>
            </div>   
        </div>

        <hr>

        <div class = "row" id = "groups">
            <h2>Group (5)</h2>
            <div class = "container text-center p-0 m-auto w-100">
                <div class = "row row-cols-3 row-cols-lg-6 p-0 m-0">
                    <div class = "dropdown col-lg" id = "group">
                        <h5>Group1</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                        <div class = "dropdown-content">
                            <a class = "dropdown-item">Channel A</a>
                            <a class = "dropdown-item">Channel B</a>
                            <a class = "dropdown-item">Channel C</a>
                        </div>
                    </div>
                    <div class = "dropdown col-lg">
                        <h5>Group2</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                        <div class = "dropdown-content">
                            <a class = "dropdown-item">Channel A</a>
                            <a class = "dropdown-item">Channel B</a>
                            <a class = "dropdown-item">Channel C</a>
                            <a class = "dropdown-item" (click) = "groupDetailsModal()">More...</a>
                        </div>
                    </div>
                    <div class = "dropdown col-lg">
                        <h5>Group3</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                    </div>
                    <div class = "dropdown col-lg">
                        <h5>Group3</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                    </div>
                    <div class = "dropdown col-lg">
                        <h5>Group3</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                    </div>
                    <div class = "dropdown col-lg">
                        <h5>Group3</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                    </div>
                    <div class = "dropdown col-lg">
                        <h5>Group3</h5>
                        <img src = "../../assets/img/user.png" class = "img-thumbnail rounded-circle">
                    </div>
                </div>

            </div>

            
            
            
        </div>
        
    </div>
   



</div>

