<!-- Account Page -->

<div class = "screen">
    <div class = "container">
        <div class = "row" id = "user"><h1>USERNAME</h1></div> 
        <!-- Logout button top right corner -->
        <div class = "row" id = "user-data">
            <div class = "col-sm-3" id = "user-pfp">
                <img src = "../../assets/img/user.png" class = "img-thumbnail">
            </div>
            <div class = "col-sm-9" id = "user-details">
                User Detail (email, ID) 
                <table>
                    <tr><td>ID</td><td>: 012345679</td></tr>
                    <tr><td>Email</td><td>: abcabc@example.com</td></tr>
                </table>
            </div>   
        </div>

        <hr>

        <div class = "row" id = "groups">
            <h2>Groups</h2>
            <div class = "table-responsive-sm">
                <table class = "table">
                    <tr>
                        <td>group1
                            <img src = "../../assets/img/user.png" class = "img-thumbnail">
                        </td>
                        <td>group2
                            <img src = "../../assets/img/user.png" class = "img-thumbnail">
                        </td>
                        <td>group3
                            <img src = "../../assets/img/user.png" class = "img-thumbnail">
                        </td>
                        <td>group4
                            <img src = "../../assets/img/user.png" class = "img-thumbnail">
                        </td>
                        <td>group5
                            <img src = "../../assets/img/user.png" class = "img-thumbnail">
                        </td>
                        <!-- Hover over name or pic, show accessible channels in drop down menu -->
                    </tr>
                </table>    
            </div>
            
        </div>
        
              
        
    </div>
   



</div>
